bzip2
ca-certificates
curl
dvipng
git
inkscape
ffmpeg
jq
liberation-fonts
libsndfile
libstdc++*
openssh-server
sudo
texlive-xetex
texlive-collection-fontsrecommended
texlive-cm-super
tini
unzip
vim
wget
