bind-utils
bzip2
ca-certificates
cmake
compat-openssl10
curl
dvipng
gcc
gcc-c++
gcc-toolset-11-gcc-gfortran
git
glibc-langpack-en
inkscape
ffmpeg
jq
liberation-fonts
libffi
libgcc
libjpeg-turbo 
libsndfile
libstdc++*
libxml2-devel
libxslt-devel
make
nano
openssh-server
openssl3
psmisc
sudo
telnet
texlive-xetex
texlive-collection-fontsrecommended
texlive-cm-super
tini
tzdata
unzip
vim
wget
zip
