bzip2
ca-certificates
compat-openssl10
curl
dvipng
git
glibc-langpack-en
inkscape
ffmpeg
jq
liberation-fonts
libffi
libsndfile
libstdc++*
libxml2-devel
libxslt-devel
nano
openssh-server
psmisc
sudo
telnet
texlive-xetex
texlive-collection-fontsrecommended
texlive-cm-super
tini
tzdata
unzip
vim
wget
zip
